@{
    ViewBag.Title = "Home Page";
}
<style>
    .main-heading .jumbotron{
        margin-top: 20px; 
        padding-left: 10px;
        background: #6f5499;
        color: #fff;
    }
</style>

<div class="main-heading">
    <div class="jumbotron">
        <h1>User Story Book</h1>
    </div>
</div>

